notes/notes.aux
notes/notes.fdb_latexmk
notes/notes.fls
notes/notes.log
notes/notes.out
notes/notes.pdf
notes/notes.synctex.gz
plots/*
experimental/libsolve.so
experimental/solve.mexa64
solve.mexa64
lib/solve.mexa64
